<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
    <%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
    <% end %>
<% end %>
<div class="home_content">
<h1>Bloo Belly</h1>
<%= image_tag "Lizard.png",:alt=>"Bloo Belly" ,:height=>"300px"%>
<p>Currently Under Construction</p>
</div>

